$black: #000;
$white: #fff;
$black-light: #34495e;
$black-dark: #2c3e50;
$gray-light: #95a5a6;
$gray-dark: #7f8c8d;
$white-light: #ecf0f1;
$white-dark: #bdc3c7;
$blue-light: #3498db;
$blue-dark: #2980b9;
$red-light: #e74c3c;
$red-dark: #c0392b;
$green-light: #1abc9c;
$green-dark: #16a085;
$orange-light: #e67e22;
$orange-dark: #d35400;
$yellow-light: #f1c40f;
$yellow-dark: #f39c12;

$shadow-black: rgba(0, 0, 0, .1);
