@import './colors';
@import './font';

.detail {
  margin: 12px;

  table {
    border-collapse: collapse;

    tr {
      th {
        font-size: 1.1em;
        font-weight: $weight-200;
        text-align: right;
      }

      td {
        font-size: 1.1em;
        font-weight: $weight-400;
        text-align: left;
      }
    }
  }
}

.statistics-title {
  font-size: 1em;
  font-weight: $weight-300;
}

.statistics-table {
  border-collapse: collapse;
  width: 300px;

  th,
  td {
    border: 1px solid $black-dark;
    font-size: 1em;
    font-weight: $weight-200;
  }
}

.dataset-section {
  margin-bottom: 6px;
  margin-top: 6px;

  .section-title {
    font-size: 1.5em;
    font-weight: $weight-300;
  }
}

.card {
  box-shadow: 0 10px 20px 0 $shadow-black;
  margin: 12px;
  padding: 24px;
  text-align: center;
}

.dashboard {
  flex-grow: 1;
  overflow: auto;
  padding: 16px;
  position: reletive;
  width: 100%;

  .dataset-header {
    border-bottom: 1px solid $black-light;
    padding: 6px;
    width: 100%;

    .dataset-name {
      font-size: 2em;
      font-weight: $weight-200;
    }

    .ganglion-form-text {
      border: 0;
      font-size: 2em;
      font-weight: $weight-200;
      padding: 0;

      &:focus {
        border: 0;
        outline: 0;
      }
    }

    .edit-buttons {
      float: right;

      button {
        margin: 6px;
      }
    }
  }
}
