@import './colors';
@import './font';

.detail {
  margin: 12px;

  table {
    border-collapse: collapse;

    tr {
      th {
        font-size: 1.1em;
        font-weight: $weight-300;
        text-align: left;
      }

      td {
        font-size: 1.1em;
        font-weight: $weight-400;
        text-align: left;
      }
    }
  }
}

.statistics-title {
  font-size: 1.2em;
  font-weight: $weight-400;
}

.statistics-table {
  border-collapse: collapse;
  width: 300px;

  th,
  td {
    border: 1px solid $black-dark;
    font-size: 1em;
    font-weight: $weight-200;
  }
}

.dataset-section {
  margin-bottom: 6px;
  margin-top: 6px;

  .section-title {
    font-size: 1.5em;
    font-weight: $weight-300;
  }
}

.statistics-item {
  box-sizing: border-box;
  margin: 12px;
  padding: 24px;
  text-align: center;
  width: 100%;

  .graph {
    box-sizing: border-box;
    margin-top: 12px;
    width: 100%;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: reletive;
  width: 100%;

  .dataset-header {
    border-bottom: 1px solid $black-light;
    box-sizing: border-box;
    display: flex;
    padding: 6px;
    width: 100%;

    .dataset-name {
      flex-grow: 1;
      font-size: 2em;
      font-weight: $weight-200;
    }

    .minerva-form-text {
      border: 0;
      flex-grow: 1;
      font-size: 2em;
      font-weight: $weight-200;
      padding: 0;

      &:focus {
        border: 0;
        outline: 0;
      }
    }

    .edit-buttons {
      float: right;

      button {
        margin: 6px;
      }
    }
  }

  .dataset-body-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    position: relative;
    width: 100%;

    .dataset-body {
      box-sizing: border-box;
      height: 100%;
      overflow: auto;
      padding: 16px;
      position: absolute;
      width: 100%;
    }
  }
}
