@import './colors';
@import './font';


.dataset-section {
  margin-bottom: 6px;
  margin-top: 6px;

  .section-title {
    font-size: 1.5em;
    font-weight: $weight-300;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: reletive;
  width: 100%;

  .dataset-body-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    position: relative;
    width: 100%;

    .dataset-body {
      box-sizing: border-box;
      height: 100%;
      overflow: auto;
      padding: 16px;
      position: absolute;
      width: 100%;
    }
  }
}
