.dialog-title {
  font-size: 1.5em;
  font-weight: 100;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;

  &--after-open {
    opacity: 1;
  }
  
  &--before-close {
    opacity: 0;
  }
}
