@import './colors';
@import './font';

.minerva-form-text {
  font-size: 1em;
  font-weight: $weight-300;
}

.minerva-form-text-underline {
  box-sizing: border-box;
  width: 100%;

  .minerva-form-text {
    border: 0;
    outline: 0;
    width: 100%;

    &:focus + .minerva-form-underline {
      border-top: 1px solid $blue-light;
    }
  }

  .minerva-form-underline {
    border-top: 1px solid $black-dark;
    position: relative;
  }
}

.minerva-form-select {
  border: 1px solid $black-dark;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1em;
  font-weight: $weight-300;
  outline: 0;
  width: 100%;

  &:hover {
    border: 1px solid $blue-light;
    color: $blue-light;
  }
}

.minerva-form-multi-select {
  .option {
    margin-bottom: -6px;
    margin-top: -6px;
  }
}

.minerva-form-file {
  input {
    display: none;
  }

  .minerva-form-file-button {
    background: $white;
    border: 1px solid $black-dark;
    border-radius: 2px;
    color: $black-dark;
    content: 'Choose a file';
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: $weight-300;
    margin: 6px;
    outline: none;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
    user-select: none;
    white-space: nowrap;

    &:hover {
      border: thin solid $blue-light;
      color: $blue-light;
    }
  }
}

.minerva-form-group {
  text-align: center;

  input {
    margin: 12px;
  }

  button {
    margin: 12px;
  }
}

.minerva-form-row {
  input {
    margin-bottom: 12px;
    margin-top: 12px;
  }

  select {
    margin-bottom: 12px;
    margin-top: 12px;
  }

  button {
    margin: 12px;
  }
}

.minerva-form-button {
  background-color: $white;
  border: 1px solid $black-dark;
  border-radius: 2px;
  color: $black-dark;
  cursor: pointer;
  outline: 0;

  &:hover {
    border: thin solid $blue-light;
    color: $blue-light;
  }

  span {
    display: block;
    font-size: 1em;
    font-weight: $weight-300;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
  }
}

.minerva-form-checkbox {
  span {
    font-size: 1em;
    font-weight: $weight-300;
  }
}
