@import './colors';
@import './font';

.ganglion-form-text {
  font-size: 1em;
  font-weight: $weight-300;
}

.ganglion-form-file {
  input {
    display: none;
  }

  .ganglion-form-file-button {
    background: $white;
    border: 1px solid $black-dark;
    border-radius: 2px;
    color: $black-dark;
    content: 'Choose a file';
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: $weight-300;
    margin: 6px;
    outline: none;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
    user-select: none;
    white-space: nowrap;

    &:hover {
      border: thin solid $blue-light;
      color: $blue-light;
    }
  }
}

.ganglion-form-group {
  text-align: center;

  input {
    margin: 12px;
  }

  button {
    margin: 12px;
  }
}

.ganglion-form-row {
  input {
    margin: 12px;
  }

  button {
    margin: 12px;
  }
}

.ganglion-form-button {
  background-color: $white;
  border: 1px solid $black-dark;
  border-radius: 2px;
  color: $black-dark;
  cursor: pointer;

  &:hover {
    border: thin solid $blue-light;
    color: $blue-light;
  }

  span {
    display: block;
    font-size: 1em;
    font-weight: $weight-300;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
  }
}

.ganglion-form-checkbox {
  span {
    font-size: 1em;
    font-weight: $weight-300;
  }
}
