@import './colors';
@import './font';

.header {
  background-color: $black-light;
  display: flex;
  height: 60px;
  width: 100%;

  .logo {
    color: $white;
    font-size: 1.2em;
    font-weight: $weight-700;
    letter-spacing: 3px;
    line-height: 60px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .links {
    height: 100%;

    .link {
      box-sizing: border-box;
      color: $white;
      float: left;
      letter-spacing: 1px;
      line-height: 44px;
      padding: 8px;
      text-decoration: none;

      &.active {
        background-color: $blue-dark;
      }

      &:hover {
        background-color: $blue-light;
      }
    }
  }
}
