html {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  height: 100%;
  width: 100%;

  body {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    .root {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
    }
  }

}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
