// sass-lint:disable class-name-format

@import url('http://fonts.googleapis.com/earlyaccess/notosansjp.css');

html {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;

  body {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    .root {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
    }
  }

}

button,
input,
select,
textarea {
  font-family: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ReactModal__Overlay {
  z-index: 10;
}
