@import './colors';
@import './font';


.dashboard-body-wrapper {
  height: 100%;

  .dashboard-body {
    display: flex;
    height: 100%;
    max-height: 100%;
    width: 100%;

    .experiment-list {
      border-right: 1px solid $white-dark;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 300px;

      .project-detail {
        border-bottom: 1px solid $white-dark;

        table {
          th {
            font-size: 1.1em;
            font-weight: $weight-300;
            text-align: left;
          }

          td {
            font-size: 1.1em;
            font-weight: $weight-400;
            text-align: left;
          }
        }
      }

      .experiments {
        flex-basis: 0;
        flex-grow: 1;
        list-style: none;
        margin: 0;
        overflow: auto;
        padding: 0;

        .experiment-detail {
          border-bottom: 1px solid $white-dark;
          box-sizing: border-box;
          overflow: auto;
          padding: 6px;

          .top-line {
            align-items: center;
            display: flex;

            .rc-progress-circle {
              width: 30px;
            }

            .experiment-name {
              font-size: 1em;
              font-weight: $weight-300;
              margin-left: 6px;
            }

            .success {
              color: $green-dark;
              font-size: .8em;
              font-weight: $weight-400;
              margin-left: auto;
            }

            .failed {
              color: $red-dark;
              font-size: .8em;
              font-weight: $weight-400;
              margin-left: auto;
            }

            .running {
              color: $blue-dark;
              font-size: .8em;
              font-weight: $weight-400;
              margin-left: auto;
            }
          }

          .bottom-line {
            .ganglion-form-button {
              float: right;
            }
          }
        }
      }
    }

    .project-metrics {
      flex-grow: 1;
      height: 100%;
      overflow: auto;
    }
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: reletive;
  width: 100%;

  .project-header {
    border-bottom: 1px solid $black-light;
    box-sizing: border-box;
    padding: 6px;
    width: 100%;

    .project-name {
      font-size: 2em;
      font-weight: $weight-200;
    }

    .ganglion-form-text {
      border: 0;
      font-size: 2em;
      font-weight: $weight-200;
      padding: 0;

      &:focus {
        border: 0;
        outline: 0;
      }
    }

    .edit-buttons {
      float: right;

      button {
        margin: 6px;
      }
    }
  }

  .project-body {
    flex-grow: 1;
    overflow: auto;
    padding: 16px;
  }
}
