@import './colors';
@import './font';


.dashboard-body-wrapper {
  height: 100%;

  .dashboard-body {
    display: flex;
    height: 100%;
    max-height: 100%;
    width: 100%;

    .experiment-list {
      border-right: 1px solid $white-dark;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 300px;

      .project-detail {
        border-bottom: 1px solid $white-dark;

        table {
          th {
            font-size: 1.1em;
            font-weight: $weight-300;
            text-align: left;
          }

          td {
            font-size: 1.1em;
            font-weight: $weight-400;
            text-align: left;
          }
        }
      }

      .experiments {
        flex-basis: 0;
        flex-grow: 1;
        list-style: none;
        margin: 0;
        overflow: auto;
        padding: 0;

        .experiment-detail {
          border-bottom: 1px solid $white-dark;
          box-sizing: border-box;
          overflow: auto;
          padding: 6px;

          .top-line {
            align-items: center;
            display: flex;

            .react-sweet-progress-circle-outer {
              height: 35px;
              width: 35px;
            }

            .experiment-name {
              font-size: 1em;
              font-weight: $weight-300;
              margin-left: 6px;
            }

            .success {
              color: $green-dark;
              font-size: .8em;
              font-weight: $weight-400;
              margin-left: auto;
            }

            .failed {
              color: $red-dark;
              font-size: .8em;
              font-weight: $weight-400;
              margin-left: auto;
            }

            .running {
              color: $blue-dark;
              font-size: .8em;
              font-weight: $weight-400;
              margin-left: auto;
            }
          }

          .middle-line {
            table {
              box-sizing: border-box;
              font-size: .8em;
              padding: 6px;
              width: 100%;

              th {
                font-weight: $weight-300;
                width: 100px;
              }

              td {
                font-weight: $weight-400;
              }
            }
          }

          .bottom-line {
            .ganglion-form-button {
              float: right;
              margin-left: 6px;

              span {
                font-size: .8em;
                font-weight: $weight-400;
                padding-left: 12px;
                padding-right: 12px;
              }
            }
          }
        }
      }
    }

    .project-metrics {
      flex-basis: 0;
      flex-grow: 1;
      overflow: auto;
      position: relative;

      .metrics-list {
        list-style: none;
        margin: 0;
        overflow: auto;
        padding: 0;
        position: absolute;
        width: 100%;

        .graph-item {
          box-sizing: border-box;
          padding: 12px;
          width: 100%;

          .graph-title {
            font-size: 1em;
            font-weight: $weight-300;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: reletive;
  width: 100%;

  .project-header {
    border-bottom: 1px solid $black-light;
    box-sizing: border-box;
    display: flex;
    padding: 6px;
    width: 100%;

    .project-name {
      flex-grow: 1;
      font-size: 2em;
      font-weight: $weight-200;
    }

    .ganglion-form-text {
      border: 0;
      flex-grow: 1;
      font-size: 2em;
      font-weight: $weight-200;
      padding: 0;

      &:focus {
        border: 0;
        outline: 0;
      }
    }

    .edit-buttons {
      float: right;

      button {
        margin: 6px;
      }
    }
  }

  .project-body {
    flex-grow: 1;
    overflow: auto;
    padding: 16px;
  }
}
