@import './colors';
@import './font';

.sidebar {
  background-color: $white-light;
  border-right: thin solid $white-dark;
  height: 100%;
  overflow: auto;
  position: relative;
  width: 240px;

  .list {
    position: absolute;
    width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;

      li {
        width: 100%;
      }
    }

    .add {
      border-bottom: thin solid $white-dark;
    }

    .item {
      display: block;
      margin: 0;
      text-align: center;

      .option {
        box-sizing: border-box;
        color: $black;
        cursor: pointer;
        display: block;
        font-size: 1em;
        font-weight: $weight-300;
        padding: 12px;
        text-decoration: none;
        width: 100%;
      }

      &:hover {
        background: $blue-light;
        color: $white;

        .option {
          color: $white;
        }

      }

      &.active {
        background: $blue-dark;
        color: $white;

        .option {
          color: $white;
        }
      }

    }
  }
}
