@import "./colors.scss";

.sidebar {
  width: 240px;
  height: 100%;
  background-color: $white-light;
  border-right: thin solid $white-dark;

  .list {
    width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;

      li {
        width: 100%;
      }
    }

    .add {
      border-bottom: thin solid $white-dark;
    }

    .item {
      text-align: center;
      margin: 0;
      display: block;

      .option {
        display: block;
        text-decoration: none;
        width: 100%;
        font-size: 1em;
        font-weight: 300;
        color: black;
        padding: 12px;
        box-sizing: border-box;
        cursor: pointer;
      }

      &:hover {
        color: white;
        background: $blue-light;

        .option {
          color: white;
        }

      }

    }
  }
}
