{
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:all",
    "standard",
    "plugin:promise/recommended"
  ],
  "plugins": ["react", "import", "promise", "node"],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "array-element-newline": 0,
    "sort-keys": 0,
    "object-shorthand": 0,
    "function-call-argument-newline": 0,
    "no-empty-function": ["error", { "allow": ["arrowFunctions"] }],
    "max-params": ["error", { "max": 5 }],
    "max-statements": 0,
    "max-lines-per-function": 0,
    "id-length": 0,
    "no-ternary": 0,
    "multiline-ternary": 0,
    "jsx-quotes": 0,
    "newline-per-chained-call": 0,
    "no-magic-numbers": 0,
    "max-lines": 0,
    "no-undefined": 0,
    "no-plusplus": 0,
    "no-warning-comments": 0
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
