@import '../colors';
@import '../font';


.dataset-header {
  border-bottom: 1px solid $black-light;
  box-sizing: border-box;
  display: flex;
  padding: 6px;
  width: 100%;

  .dataset-name {
    flex-grow: 1;
    font-size: 2em;
    font-weight: $weight-200;
  }

  .minerva-form-text {
    border: 0;
    flex-grow: 1;
    font-size: 2em;
    font-weight: $weight-200;
    padding: 0;

    &:focus {
      border: 0;
      outline: 0;
    }
  }

  .edit-buttons {
    float: right;

    button {
      margin: 6px;
    }
  }
}
