html {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.hero {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('hero.svg');
  background-blend-mode: lighten;
}

.download {
  color: #2c3e50;
}

.minerva-header-logo {
  font-weight: 700;
  letter-spacing: 3px;
}

.minerva-logo {
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 4em;
}

.minerva-subtitle {
  font-size: 2em;
}

.no-padding {
  padding: 0;
}

.features {
  position: relative;
}

.features > .container > .card {
  border-radius: 0.5em;
  box-shadow: 0 10px 15px -3px rgba(0, 0 ,0 , 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin: 16px;
}

.features::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(41, 128, 185, 0.0), rgba(41, 128, 185, 0.5) 50%, rgba(41, 128, 185, 1.0));
}

.video {
  position: relative;
}

.video::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(41, 128, 185, 1.0);
}

.youtube {
  position: relative;
  padding-top: 56.25%;
  height: 0;
}

.youtube > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.library {
  position: relative;
}

.library > .container > .card {
  border-radius: 0.5em;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
  margin: 16px;
}

.library::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(41, 128, 185, 1.0), rgba(41, 128, 185, 0.5) 50%, rgba(41, 128, 185, 0.0));
}

.footer {
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #2c3e50;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
