.graph {
  box-sizing: border-box;
  padding: 6px;

  .minerva-form-select {
    font-size: 1.2em;
  }

  .graph-item {
    box-sizing: border-box;
    height: 450px;
    padding: 24px;
    width: 100%;
  }
}
